/* comments page */

.comments__body .article__section {
  height: 120px;
  display: grid;
  border: 2px solid;
  padding: 5px;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.article__section h2 {
  grid-row: 1/2;
  grid-column: 1 / span 2;
  margin: 5px;
}

.article__section img {
  align-self: center;
  justify-self: end;
  height: 100px;
  width: auto;
  grid-row: 1/3;
  grid-column: 3 / span 1;
}

.comments__section-3 {
  height: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
}

.comments__section-3 p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.comments__section-3-read-open-comment {
  margin-bottom: 10px;
}

.comments__section-3-create-comment {
  display: flex;
  align-items: end;
}

.comments__section-3-create-comment .button {
  margin-left: 10px;
}
