.main--article-section {
  min-height: fit-content;
  border: 2px solid;
  margin: 5px;
  padding: 5px;
}

.main--article-section-container {
  display: grid;
  grid-template-columns: 20rem 1fr 1fr;
  grid-template-rows: 2fr 1fr;
}

#sort-by-selector {
  margin: 5px;
  margin-top: 10px;
}

.main--article-section-container h2 {
  grid-row: 1/2;
  grid-column: 1 / span 2;
}

.article-info {
  grid-row: 2;
  grid-column: 1/2;
}

.created-at {
  grid-row: 2;
  grid-column: 2/3;
}

.homepage-article-image {
  align-self: center;
  justify-self: end;
  height: auto;
  width: 200px;
  grid-row: 1/3;
  grid-column: 3 / span 1;
}

.created-at {
  justify-self: end;
}
