.article--section-1 {
  display: block;
  overflow: auto;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
}

/* between article and comments */
.article--section-2 {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.section-create-comment {
  grid-template-rows: 1fr 2fr;
}

.article--section-2-read-open-comment {
  grid-row: 1/2;
  grid-column: 1/3;
  display: flex;
  align-items: center;
}

.article--section-2-2-votes {
  grid-row: 1/2;
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: end;
}

.article--section-2 button {
  margin: 5px;
}

.signle-article-votes-p {
  padding: 5px;
}

.article--section-2-create-comment {
  grid-row: 2/3;
  grid-column: 1/3;
}

#comment-input {
  height: 100px;
  width: 500px;
  overflow: auto;
}

/* comments in article page */

.comment-section {
  border: 2px solid;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 10px;
}
