/* comments page */

.comments-body .article-section {
  height: 120px;
  width: 750px;
  display: grid;
  border: 2px solid;
  margin: 5px;
  padding: 5px;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.article-section h2 {
  grid-row: 1/2;
  grid-column: 1 / span 2;
  margin: 5px;
}

.article-section img {
  align-self: center;
  justify-self: end;
  height: 100px;
  width: auto;
  grid-row: 1/3;
  grid-column: 3 / span 1;
}
