/* header */

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 10px;
  overflow: hidden;
  background-color: rgb(166, 166, 234);
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom: solid darkmagenta;
}

.header__h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.header__img {
  width: 50px;
  height: 50px;
}

.user-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px;
  padding: 3px;
  border-radius: 3%;
  align-self: center;
  width: 150px;
}

.header--select-user--form {
  margin: 5px;
}

.img-user-profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: solid;
  margin: 5px;
}

.header--user-section {
  display: flex;
  flex-direction: column;
}
