.nav {
  display: flex;
  justify-content: start;
  width: 100%;
}

.nav--topic {
  background-color: lightgray;
  padding: 2px;
  border-radius: 10%;
  border: 2px solid transparent;
}

.nav--topic:hover {
  border: 2px solid gray;
}

.nav--topic a {
  color: black;
}
