.nav {
  display: flex;
  justify-content: start;
  width: 100%;
}

.nav--topic {
  background-color: lightgray;
  padding: 2px;
  border-radius: 10%;
}

.nav--topic:hover {
  border: solid gray 2px;
}

.nav--topic a {
  color: black;
}
