.single-comment__section-bottom {
  height: 30px;
  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: 2fr 1fr 1fr; */
  align-items: center;
}

.comment-created-at {
  margin-top: 0px;
  margin-bottom: 0px;
}

.single-comment__section-comment {
  height: fit-content;
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 10px;
}

.container-vote .comment-section-votes {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  /* grid-column: 3/4; */
  height: 30px;
}

.container-vote .comment-section-votes p {
  width: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}
