.single-comment__section-bottom {
  height: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
}

.comment-created-at {
  margin-top: 0px;
  margin-bottom: 0px;
}

.single-comment__section-comment {
  height: fit-content;
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 10px;
}
