a {
  text-decoration: none;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 10px;
  overflow: hidden;
  background-color: rgb(166, 166, 234);
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom: solid darkmagenta;
}

/* main page */

.body-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 2fr;
  margin-top: 100px;
}

/* side bar */

aside {
  grid-column: 1 / 2;
  grid-row: 1/2;
  position: fixed;
}

aside ul {
  list-style: none;
  padding-inline-start: 0px;
}

aside li {
  padding: 5px;
  border: 2px solid;
  margin: 5px;
  height: 20px;
  align-self: center;
}

aside p {
  margin-bottom: 0px;
  margin-top: 0px;
}

/* main body */

.main-body {
  grid-column: 2 / 3;
  grid-row: 1 / span 2;
  padding-left: 20px;
  border-left: solid;
}

main a {
  text-decoration: none;
  color: black;
}

main section {
  max-height: 150px;
  display: grid;
  border: 2px solid;
  margin: 5px;
  padding: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#sort-by-selector {
  margin: 5px;
  margin-top: 10px;
}

main section h2 {
  grid-row: 1/2;
  grid-column: 1 / span 2;
}

.article-info {
  grid-row: 2;
  grid-column: 1/2;
}

.created-at {
  grid-row: 2;
  grid-column: 2/3;
}

.homepage-article-image {
  align-self: center;
  justify-self: end;
  height: 130px;
  width: auto;
  grid-row: 1/3;
  grid-column: 3 / span 1;
}

.created-at {
  justify-self: end;
}

/* article body */

.article-section {
  display: block;
  overflow: auto;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
}

.comment-section {
  border: 2px solid;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 10px;
}

.article a p {
  margin-left: 10px;
}

.article img {
  max-width: 70%vw;
  max-height: auto;
}
