a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0px;
}

/* main page */

.body-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 2fr;
  margin-top: 100px;
}

/* main body */

.content-body {
  grid-column: 2 / 3;
  grid-row: 1 / span 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
}

main a {
  text-decoration: none;
  color: black;
}

.page-list {
  list-style: none;
  justify-self: center;
}
.page-list li {
  float: left;

  padding: 10px;
}

/* loading */

#loading-section h2 {
  grid-column: 2/3;
  grid-row: span 2;
  justify-self: center;
}
