header {
  display: flex;
  justify-content: space-between;
}

main section {
  max-height: 150px;
  display: grid;
  border: 2px solid;
  margin: 5px;
  padding: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

main section h2 {
  grid-row: 1/2;
  grid-column: 1 / span 2;
}

.article-info {
  grid-row: 2;
  grid-column: 1/2;
}

.created-at {
  grid-row: 2;
  grid-column: 2/3;
}

.homepage-article-image {
  align-self: center;
  justify-self: end;
  height: 130px;
  width: auto;
  grid-row: 1/3;
  grid-column: 3 / span 1;
}
