.comment-section-votes {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  grid-column: 3/4;
  height: 30px;
}

.comment-section-votes p {
  width: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}
