.comment-section-votes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  height: auto;
  width: 13rem;
}

.comment-section-votes p {
  width: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.p-error {
  text-wrap: nowrap;
}
